$colorText: #000;
$colorDesc: #888;
$textSm: 14px;
$textMd: 16px;
$textLg: 24px;
$bgGrey: #F7F6F6;
$widthContent: 1200px;
$borderColor: #CACDD8;
$gap: 32px;
$modalGap: 14px;

%borderStyles {
    border-style: solid;
    border-width: 1px;
}